@model Alocha.WebUi.Models.SowVM.SowDetailVM
@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-heading">
            <h3><span class="lstick"></span>Szczegóły lochy o numerze: &nbsp <strong class="text-info">@Model.Number</strong>  </h3>
            <div class="pull-right">
                <a href="/Sow/Edit/@Model.SowId" class="btn btn-primary">Edytuj</a>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    @Html.LabelFor(m => m.DateHappening)
                    @Html.EditorFor(m => m.DateHappening, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
                <div class="form-group col-sm-5">
                    @Html.LabelFor(m => m.Status)
                    @Html.EditorFor(m => m.Status, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3 ">
                    @if (Model.Status == "Prośna")
                    {
                        <h5>@Html.LabelFor(m => m.DateBorn)</h5>
                        @Html.EditorFor(m => m.DateBorn, new { htmlAttributes = new { @class = "form-control details-sow", @readonly = true } })
                    }
                    @if (Model.Status == "Laktacja")
                    {
                        <h5>@Html.LabelFor(m => m.DateDetachment)</h5>
                        @Html.EditorFor(m => m.DateDetachment, new { htmlAttributes = new { @class = "form-control details-sow", @readonly = true } })
                    }

                    @if (Model.Status == "Luźna")
                    {
                        <h5>@Html.LabelFor(m => m.DateInsimination)</h5>
                        @Html.EditorFor(m => m.DateInsimination, new { htmlAttributes = new { @class = "form-control details-sow", @readonly = true } })
                    }
                </div>
                @if (Model.Status == "Prośna")
                {
                    <div class="form-group col-sm-3">
                        <h5>@Html.LabelFor(m => m.VaccineDate)</h5>
                        @Html.EditorFor(m => m.VaccineDate, new { htmlAttributes = new { @class = "form-control details-sow", @readonly = true } })
                    </div>
                    <div class="form-check text-center">
                        <h5>@Html.LabelFor(m => m.IsVaccinated)</h5>
                        @if(Model.IsVaccinated)
                        {
                            <span class="fa fa-check-circle-o fa-2x"></span>
                        }
                        else
                        {
                            <span class="fa fa-circle-o fa-2x"></span>
                        }
                    </div>

                }
            </div>

            <hr />
            <h5 style="margin-top:10px;color:#ff6347">Wyproszenia:</h5>
            <div class="col-md-12 col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        @if (ViewBag.BornCount != null)
                        {
                            <div class="form-row mb-2">
                                <div class="text-info"><h6>Ilość porodów: @ViewBag.BornCount </h6></div>
                                <div class="text-info ml-5"><h6>Średnia miotu: @ViewBag.AveragePigsCount </h6></div>
                            </div>
                        }
                        <table class="table table-striped table-hover" cellspacing="0" style="width:100%" id="dataTables">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SmallPigs.FirstOrDefault().BornDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SmallPigs.FirstOrDefault().PigsQuantity)
                                    </th>
                                    <th>Opcje</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SmallPigs.FirstOrDefault().BornDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SmallPigs.FirstOrDefault().PigsQuantity)
                                    </th>
                                    <th>Opcje</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.SmallPigs)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => item.BornDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.PigsQuantity)
                                        </td>
                                        <td>
                                            <div class="dropdown btn-block pull-right">
                                                <button class="btn btn-xs btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
                                                    Opcje
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" id="@item.SmalPigsId" onclick="RemoveFromTable(this.id)" class="btn btn-block btn-danger">Usuń</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/datatables-filters-classic.js"></script>
    <script src="~/js/details-sow.js"></script>
}
