@model IEnumerable<Alocha.WebUi.Models.HomeVM.UpcomingTaskVM>
@{
    ViewData["Title"] = "UpcomingTask";
}


    <div class="col-md-12 col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3><span class="lstick"></span><strong class="text-info">Najbliższe zadania</strong>  </h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                @if (Model.Count() == 0)
                {
                    <div class="text-center"><h3>Brak Zadań w najbliższym czasie</h3></div>
                }
                <div class="row">
                    @foreach (var task in Model)
                    {
                        @if (task.DateBorn == DateTime.Today || task.DateDetachment == DateTime.Today || task.DateInsimination == DateTime.Today || task.VaccineDate == DateTime.Today)
                        {
                            <div class="col-sm-6 mb-2">
                                <div class="card bg-transparent bg-transparent border-danger">
                                    <div class="card-body">
                                        <h5 class="card-title">Locha numer: @Html.DisplayFor(m => task.Number) (DZIŚ)</h5>
                                        <p class="card-text">
                                            @if (task.DateBorn != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateBorn)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateBorn)</h5>
                                            }
                                            @if (task.DateDetachment != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateDetachment)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateDetachment)</h5>
                                            }

                                            @if (task.DateInsimination != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateInsimination)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateInsimination)</h5>
                                            }
                                            @if (task.VaccineDate != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.VaccineDate)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.VaccineDate)</h5>
                                            }
                                        </p>
                                        <a href="/Sow/Details/@task.SowId" class="btn btn-block btn-primary">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-6 mb-2">
                                <div class="card bg-transparent border-info">
                                    <div class="card-body">
                                        <h5 class="card-title">Locha numer: @Html.DisplayFor(m => task.Number)</h5>
                                        <p class="card-text">
                                            @if (task.DateBorn != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateBorn)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateBorn)</h5>
                                            }
                                            @if (task.DateDetachment != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateDetachment)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateDetachment)</h5>
                                            }

                                            @if (task.DateInsimination != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.DateInsimination)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.DateInsimination)</h5>
                                            }
                                            @if (task.VaccineDate != DateTime.MinValue)
                                            {
                                                <h4>@Html.LabelFor(m => task.VaccineDate)</h4>
                                                <h5 class="text-center">@Html.DisplayFor(m => task.VaccineDate)</h5>
                                            }
                                        </p>
                                        <a href="/Sow/Details/@task.SowId" class="btn btn-block btn-primary">Szczegóły</a>
                                    </div>
                                </div>
                            </div>
                        }
                     }
                </div>
            </div>
        </div>    
    </div>