<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alocha </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/sideMenu/side-menu.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link href="~/lib/Alertify/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/themes/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-static-top navbar-expand-lg" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <strong class="font-italic text-light">ALOCHA</strong>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"></li>
                </ul>
                <span style="font-size:20px; cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
        </nav>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @if (User.Identity.IsAuthenticated)
        {
            <h4 class="text-warning text-center">@User.Identity.Name</h4>
            <a href="/User/Index">Ustawienia</a>
            @Html.ActionLink("Wyloguj", "LogOut", "Account")
        }
    </div>

    <aside class="sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a asp-controller="Home" asp-action="UpcomingTask">Zadania</a></li>
                    <li><a asp-controller="Sow" asp-action="Index">Lochy</a></li>
                    <li><a asp-controller="Sow" asp-action="Vaccinate">Szczepienia</a></li>
                </ul>
            </nav>
        </div><!-- End Sidebar scroll-->
    </aside>

    <div id="page-wrapper">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Alocha-web
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sideMenu/side-menu.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="~/js/create-sow.js"></script>
    <script src="~/lib/Alertify/js/alertify.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
